## -------------------------------------------------------------------------
## CORE CONFIGURATION
## -------------------------------------------------------------------------
spring:
  application:
    name: gateway

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    gateway: 
      routes:
        - id: school-service
          uri: lb://school-service # Use Load Balancer (lb://)
          predicates:
            - Path=/schools/** # Incoming path must start with /schools/
          filters:
            - RewritePath=/schools/(?<segment>.*), /${segment}

        - id: student-service
          uri: lb://student-service # Use Load Balancer (lb://)
          predicates:
            - Path=/students/** # Incoming path must start with /students/

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8080

logging:
  level:
    root: INFO
    org:
      springframework:
        cloud:
          gateway: DEBUG
          route.RouteDefinitionLocator: INFO