spring:
  application:
    name: gateway
  # route for services
  cloud:
    gateway:
      routes[0]:
        id: school-service
        uri: lb://school-service
        predicates[0]: Path=/schools/**

      route[1]:
        id: student-service
        uri: lb://student-service
        predicates[0]: Path=/students/**
  config:
    import: optional:configserver:http://localhost:8888



eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8080

logging:
  level:
    root: INFO
    org:
      springframework:
        cloud:
          gateway: TRACE
          route.RouteDefinitionLocator: INFO
